@import "../../mixins";
@import "../../variables";

.references {
  background-color: $references-bg;
  margin: -8px;
  margin-top: 0;
  padding: 40px 32px;
  position: relative;
  @include breakpoint-1440 {
    margin: -30px;
    margin-top: 0;
    padding: 70px 0px 70px 152px;
  }

  .title {
    font-family: "Sharp Grotesk";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .slider {
    .slick-slide {
      width: auto !important;
      margin: 0 3px !important;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .custom-slider-buttons {
    position: absolute;
    top: 311px;
    right: 89px;
    width: 90px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    button {
      width: 40px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &.prev {
        transform: rotate(180deg);
      }
    }
  }
}
