@import "../../mixins";
@import "../../variables";

.img-block {
  height: 400px;
  width: 100%;
  background-position: center;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  align-items: flex-end;
  background-size: cover;

  @include breakpoint-1440 {
    &:nth-child(2) {
      margin-top: 60px;
    }
    &:nth-child(3) {
      margin-top: 120px;
    }
  }

  @include breakpoint-1440 {
    width: 370px;
    height: 570px;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .title {
      font-family: "Tanker";
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      color: $primary-green;
      text-transform: uppercase;
      word-break: break-all;
    }

    button {
      background-color: $primary-green;
      height: 34px;
      width: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
}
