@import "../../mixins";
@import "../../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 36px 24px;

  @include breakpoint-1440 {
    padding: 30px;
  }

  .hamburger-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-green;
    color: $secondary-green;
    border-radius: 20px;
  }
  .mobile-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .content {
    display: flex;
    gap: 40px;
    align-items: center;

    .links {
      display: flex;
      gap: 30px;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: $primary-green;
    }

    button {
      padding: 10px 20px;
      border-radius: 30px;
      font-size: 14px;
      background-color: $primary-green;
      color: $secondary-green;
    }
  }
}
